<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jetbrains.anko.generated.anko"
    android:versionCode="106"
    android:versionName="0.10.8" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="27" />

    <application />

</manifest>